---
name: test-setup-ruby-and-rust
on:
  push:
    paths:
      - "setup-ruby-and-rust/**/*"
      - ".github/workflows/test-setup-ruby-and-rust.yml"
jobs:
  test:
    name: ${{ matrix.os }} ${{ matrix.repo.slug }} ${{ matrix.ruby }} ${{ matrix.cargo-cache }}
    strategy:
      fail-fast: false
      matrix:
        repo:
          - name: "oxidize-rb/oxi-test"
            slug: oxi-test
            ref: main
            run: bundle exec rake
          - name: "matsadler/magnus"
            slug: magnus
            ref: 855cc11a73e536083e37bb89d5e101a02a748150
            run: cargo test
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        rust: ["stable"]
        ruby: ["2.7", "3.0", "3.1", "head"]
        cargo-cache: ["tarball", "sccache"]
        include:
          - os: "windows-latest"
            ruby: "mswin"
            rust: "stable"
            repo:
              name: "oxidize-rb/oxi-test"
              slug: oxi-test
              ref: main
              run: bundle exec rake
              cargo-cache: "sccache"
          - os: "windows-latest"
            slug: magnus
            ruby: "mswin"
            rust: "stable"
            repo:
              name: "matsadler/magnus"
              ref: main
              run: cargo test
              cargo-cache: "sccache"

    runs-on: ${{ matrix.os }}
    steps:
      - name: Log matrix
        shell: bash
        env:
          INPUTS: ${{ toJSON(matrix) }}
        run: |
          echo "$INPUTS" | jq
      - uses: actions/checkout@v3
        with:
          repository: ${{ matrix.repo.name }}
          ref: ${{ matrix.repo.ref }}
      - uses: actions/checkout@v3
        with:
          path: ./tmp/actions
      - uses: ./tmp/actions/setup-ruby-and-rust
        id: setup
        with:
          ruby-version: ${{ matrix.ruby }}
          rustup-toolchain: ${{ matrix.rust }}
          cache-version: v0
          bundler-cache: true
          cargo-cache: ${{ matrix.repo.cargo-cache }}
          cargo-cache-clean: true
      - name: Run unit tests
        env:
          SETUP_OUTPUTS: ${{ toJSON(steps.setup.outputs) }}
        run: ruby ./tmp/actions/setup-ruby-and-rust/test.rb -v
      - name: Run tests for ${{ matrix.repo.name }}
        run: ${{ matrix.repo.run }}
