---
name: test-setup-ruby-and-rust
on:
  push:
    paths:
      - "setup-ruby-and-rust/**/*"
      - ".github/workflows/test-setup-ruby-and-rust.yml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  SCCACHE_LOG: debug
jobs:
  test:
    name: ${{ matrix.os }} ${{ matrix.repo.slug }} (ruby=${{ matrix.ruby }} cache=${{ matrix.cargo-cache }})
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        experimental: [false]
        repo:
          - name: "oxidize-rb/oxi-test"
            slug: oxi-test
            ref: main
            run: bundle exec rake
          - name: "matsadler/magnus"
            slug: magnus
            ref: main
            run: cargo test -- --nocapture --skip it_includes_backtrace_in_debug
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        rust: ["stable"]
        ruby: ["3.0", "3.1", "3.2", "3.3", "head"]
        cargo-cache: ["true"]
        include:
          - os: "ubuntu-latest"
            ruby: "3.3"
            rust: "stable"
            experimental: false
            cargo-cache: "sccache"
            repo:
              name: "oxidize-rb/oxi-test"
              slug: oxi-test
              ref: main
              run: bundle exec rake
          - os: "ubuntu-latest"
            ruby: "truffleruby"
            rust: "stable"
            experimental: true
            cargo-cache: "sccache"
            repo:
              name: "oxidize-rb/oxi-test"
              slug: oxi-test
              ref: main
              run: bundle exec rake
          - os: "windows-latest"
            ruby: "mswin"
            experimental: true
            rust: "stable"
            cargo-cache: "true"
            repo:
              name: "oxidize-rb/oxi-test"
              slug: oxi-test
              ref: main
              run: bundle exec rake || echo "::warning::bundle exec rake failed on mswin"
          - os: "windows-latest"
            slug: magnus
            ruby: "mswin"
            experimental: true
            rust: "stable"
            cargo-cache: "true"
            repo:
              name: "matsadler/magnus"
              slug: magnus
              ref: main
              run: cargo test -- --nocapture --skip it_includes_backtrace_in_debug || echo "::warning::cargo test failed on mswin"

    runs-on: ${{ matrix.os }}
    steps:
      - name: Log matrix
        shell: bash
        env:
          INPUTS: ${{ toJSON(matrix) }}
        run: |
          echo "$INPUTS" | jq
      - uses: actions/checkout@v4
        with:
          repository: ${{ matrix.repo.name }}
          ref: ${{ matrix.repo.ref }}
      - uses: actions/checkout@v4
        with:
          path: ./tmp/actions
      - uses: ./tmp/actions/upload-core-dumps
      - uses: ./tmp/actions/setup-ruby-and-rust
        id: setup
        with:
          ruby-version: ${{ matrix.ruby }}
          rustup-toolchain: ${{ matrix.rust }}
          cache-version: v1-${{ matrix.repo.slug }}
          bundler-cache: true
          cargo-cache: ${{ matrix.cargo-cache }}
          cargo-cache-clean: true
      - name: Run unit tests
        env:
          SETUP_OUTPUTS: ${{ toJSON(steps.setup.outputs) }}
        run: ruby ./tmp/actions/setup-ruby-and-rust/test.rb -v
      - name: Run tests for ${{ matrix.repo.name }}
        shell: bash
        run: |
          : ${{ matrix.repo.run }}

          if [[ "${{runner.os}}" != "Windows" ]]; then
            ulimit -c unlimited # Enable core dumps
          fi

          ${{ matrix.repo.run }}
