---
name: test-setup-ruby-and-rust
on:
  push:
    paths:
      - "setup-ruby-and-rust/**/*"
      - ".github/workflows/test-setup-ruby-and-rust.yml"
jobs:
  test:
    name: ${{ matrix.os }} | ${{ matrix.repo.name }} - ${{ matrix.ruby }} - ${{ matrix.rust }}
    strategy:
      fail-fast: false
      matrix:
        repo:
          - name: "oxidize-rb/oxi-test"
            ref: main
            run: bundle exec rake
          - name: "matsadler/magnus"
            ref: 855cc11a73e536083e37bb89d5e101a02a748150
            run: cargo test
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        rust: ["stable"]
        ruby: ["2.7", "3.0", "3.1", "head"]
        sccache: ["true", "false"]
        include:
          - os: "windows-latest"
            ruby: "mswin"
            rust: "stable"
            repo:
              name: "oxidize-rb/oxi-test"
              ref: main
              run: bundle exec rake
              sccache: "false"
          - os: "windows-latest"
            ruby: "mswin"
            rust: "stable"
            repo:
              name: "matsadler/magnus"
              ref: main
              run: cargo test
              sccache: "true"

    runs-on: ${{ matrix.os }}
    steps:
      - name: Log inputs
        shell: bash
        run: |
          echo "OS: ${{ matrix.os }}"
          echo "Ruby: ${{ matrix.ruby }}"
          echo "Rust: ${{ matrix.rust }}"
          echo "Repo: ${{ matrix.repo.name }}"
          echo "Ref: ${{ matrix.repo.ref }}"
          echo "Run: ${{ matrix.repo.run }}"
          echo "sccache: ${{ matrix.repo.sccache }}"
      - uses: actions/checkout@v3
        with:
          repository: ${{ matrix.repo.name }}
          ref: ${{ matrix.repo.ref }}
      - uses: actions/checkout@v3
        with:
          path: ./tmp/actions
      - uses: ./tmp/actions/setup-ruby-and-rust
        id: setup
        with:
          ruby-version: ${{ matrix.ruby }}
          rustup-toolchain: ${{ matrix.rust }}
          cache-version: v0
          bundler-cache: true
          cargo-cache: true
          cargo-cache-clean: true
          sccache: ${{ matrix.repo.sccache }}
      - name: Run unit tests
        env:
          SETUP_OUTPUTS: ${{ toJSON(steps.setup.outputs) }}
        run: ruby ./tmp/actions/setup-ruby-and-rust/test.rb -v
      - name: Run tests for ${{ matrix.repo.name }}
        run: ${{ matrix.repo.run }}
